#img_logo {
    position: absolute;
    width: 200px;
    height: 138px;
    left: 572px;

}

body{
    background-color: #F5F5EF;
}

#title_aa{
    background-color: #ADE2FF;
    position: absolute;
    width: 1440px;
    height: 132px;
    left: 0px;
    top: 170px;
}

#p1_aa{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-top: 30px;
    
}

#img_aa_1{
    position: absolute;
    width: 627px;
    height: 592px;
    left: 34px;
    margin-top: 315px;
    border-radius: 50px;
}

#p2_aa{
    position: absolute;
    width: 608px;
    height: 501px;
    left: 34px;
    top: 350px;

    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 66px;
    text-align: center;

    color: #340A0A;
}

#img_aa_2{
    position: absolute;
    width: 627px;
    height: 592px;
    left: 757px;
    top: 315px;
    border-radius: 50px;
}

#p3_aa{
    position: absolute;
    width: 624px;
    height: 545px;
    left: 757px;
    top: 290px;

    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 45px;
        
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

#img_aa_3{
    position: absolute;
    width: 632px;
    height: 603px;
    left: 41px;
    top: 1000px;

    border-radius: 80px;
}

#p4_aa{
    position: absolute;
    width: 584px;
    height: 606px;
    left: 65px;
    top: 970px;

    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 63px;
    text-align: center;

    color: #100B0B;
}

#img_aa_4{
    position: absolute;
    width: 632px;
    height: 603px;
    left: 757px;
    top: 1000px;
    
    border-radius: 80px;

}

#p5_aa{
    position: absolute;
    width: 599px;
    height: 571px;
    left: 769px;
    top: 980px;

    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}

#a_AA{
    position: absolute;
    width: 517px;
    height: 62px;
    left: 100px;
    top: 1700px;

    background: #61F8AF;
    border-radius: 50px;
}

#p_AA{
    position: absolute;
    width: 412px;
    height: 42px;
    left: 50px;
    top: -15px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px; 
    text-align: center;

    color: #000000;
}

#a_proxi{
    position: absolute;
    width: 517px;
    height: 62px;
    left: 813px;
    top: 1700px;

    background: #61F8AF;
    border-radius: 50px;
}

#p_proxi{
    position: absolute;
    width: 412px;
    height: 42px;
    left: 50px;
    top: -15px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}

h3{
    position: absolute;
    top: 1800px;
    left: 552px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.7);
}