.body {
    background-color: #F5F5EF;
}

.logo img{
    max-height: 150px;
}

.tittle_aa {
    background-color: #ADE2FF;
}

.tittle_aa p{
    font: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
}

.imagens img{
    width: 100%;
    max-height: 450px;
    border-radius: 25px;
    padding: 2px!important;
}

.rodape h3{
    font: Roboto;
    font-size: 12px;
    font-style: italic;
}

.buttons{
    padding: 2px!important;
}

.buttons div{
    background: #61F8AF;
    min-width: 100%;
    border-radius: 15px;
}

.buttons a{
    font-family: Roboto;
    font-style: italic;
    /* font-weight: 300; */
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}
